<!DOCTYPE html>
<html>
    <head>
        <title>Admin usuarios</title>
        <%- include('partials/head') %>
    </head>
    <body>
        <%- include('partials/headers') %>
        <div class="container">
            <div class="container-fluid p-4">
                <h1 id="titlePag" class="display-6">Administración de usuarios</h1>
                <a id="addUsuario" class="btn btn-primary" href="/add_usuario">Agregar Usuario</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username (email)</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Rol Usuario</th>
                            <th scope="col">Estado Usuario</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody id="resultado-tabla">
                    </tbody>
                </table>
            </div>
        </div>
        <%- include('partials/footer') %>
        <%- include('partials/scripts') %>
        <script src="/js/admin_usuarios.js"></script>
    </body>
</html>